<!DOCTYPE html>
<html lang="pt-br" ng-app="alurapic">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Alurapic</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

        <script src="js/main.js"></script>
        <script src="js/controllers/main.js"></script>
    </head>
    <body ng-controller="FotosController">
        <div class="container">
            <h1 class="text-center">Alurapic</h1>

            <div class="col-sm-4" ng-repeat="foto in fotos" style="height: 300px">
                <h1>{{foto.titulo}}</h1>
                <div class="img-responsive">
                    <img src="{{foto.url}}" alt="{{foto.titulo}}">
                </div>
            </div>

        </div> <!-- fim container -->        
    </body>
</html>